@media (min-width: 450px) {
  #login-content {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    #login-form {
      max-width: 25rem;
      margin-left: auto;
      margin-right: auto;

      #form-header {
        h2 {
          font-size: 1.7rem;
        }
      }

      #login-field-group {
        display: block;
        div {
          padding: 1rem 0;
          label {
            font-size: 1.2rem;
          }
          input {
            width: 15rem;
            padding: 0.5rem;
          }
        }
      }
      #form-actions {
        button {
          width: 9.25rem;
        }
      }
    }
  }
}
